DATABASE_URL="postgresql://neondbOwner:***@host.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# NextAuth.js (Credentials auth)
# Generate a secret with: `openssl rand -base64 32`
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
